

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [ ]:
emptylist=[]

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [4]:
liste=[1,2,3,8,12]
print(liste)

[1, 2, 3, 8, 12]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [9]:
print(len(liste))

5

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [44]:
print('le premier element est: ',liste[0])
print('le dernier element est: ',liste[-1])
f=5
g=int(f/2)
print(g)

le premier element est:  1
le dernier element est:  12
2

#### **Exercice 04:** 
>**Déclarez une liste appelée mixed_data_types, mettez votre (nom, âge, taille, état civil, adresse).**

In [18]:
mixed_data_types=["nom=DONGMO TEDO",'prenom=lynsia saychele','age=23','taille=1.59','etat civi=celibataire']
print(mixed_data_types)

['nom=DONGMO TEDO', 'prenom=lynsia saychele', 'age=23', 'taille=1.59', 'etat civi=celibataire']

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

In [17]:
it_company=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(it_company)
print('la longeur est:',len(it_company))
print('le premier est: ',it_company[0])
print('le dernier est: ',it_company[-1])
p=int(len(it_company)/2)
print('le milieu est:',p)
it_company=["Facebook","Google", "Linux", "Apple", "IBM", "Oracle", "Amazon"]
print(it_company)
it_company.append('SAMSUNG')
print(it_company)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
la longeur est: 7
le premier est:  Facebook
le dernier est:  Amazon
le milieu est: 3
['Facebook', 'Google', 'Linux', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Google', 'Linux', 'Apple', 'IBM', 'Oracle', 'Amazon', 'SAMSUNG']

In [23]:
it_company.insert(int(len(it_company)/2), 'Techno')
print(it_company)

['Facebook', 'Google', 'Linux', 'APPLE', 'Techno', 'Techno', 'IBM', 'Oracle', 'Amazon', 'SAMSUNG']

In [27]:
'#'.join(it_company)#joindre les it_company

'Facebook#Google#Linux#APPLE#Techno#Techno#IBM#Oracle#Amazon#SAMSUNG'

In [28]:
#it_company=["Facebook","Google", "Linux", "Apple", "IBM", "Oracle", "Amazon"]
#it_company=it_company.insert(3,it_company[3].upper())

it_company[3]=it_company[3].upper()
print(it_company)

['Facebook', 'Google', 'Linux', 'APPLE', 'Techno', 'Techno', 'IBM', 'Oracle', 'Amazon', 'SAMSUNG']

In [336]:
it_company.remove('SAMSUNG')
print(it_company)

['Facebook', 'Google', 'Linux', 'APPLE', 'Techno', 'IBM', 'Oracle', 'Amazon']

In [337]:
it_company.remove('Oracle')
print(it_company)

['Facebook', 'Google', 'Linux', 'APPLE', 'Techno', 'IBM', 'Amazon']

In [338]:
it_company.remove('IBM')
print(it_company)

['Facebook', 'Google', 'Linux', 'APPLE', 'Techno', 'Amazon']

In [339]:
del it_company[0:3]
print(it_company)

['APPLE', 'Techno', 'Amazon']

In [340]:
#y=int(len(it_company))
#print(y)
#d=int(y/2)
#print(d)
#it_company=it_company.remove[1]
m=int(len(it_company)/2)
print(m)
it_company.remove(it_company[m])
print(it_company)

1
['APPLE', 'Amazon']

In [345]:
it_company.remove(it_company[-1])   # supprimer la derniere entreprise de la liste
print(it_company)

['Facebook', 'Google', 'Linux', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [346]:
it_company.remove(it_company[0])
print(it_company)# suprimer toutes les entreprises

['Google', 'Linux', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [347]:
#del(it_company):
it_company.clear()
print(it_company)#suprimer la liste

[]

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [1]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
print(front_end+back_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [23]:
 ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(min(ages))
print(max(ages))

19
26

In [24]:
ages.append(min(ages))
ages.append(max(ages))
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]

In [25]:
m=int(len(ages))/2
print(m)
print("l'age median est:",ages[6])

6.0
l'age median est: 26

In [26]:
i=0
somme=0
for i in range (len(ages)):
 somme=somme+ages[i]
ages_moyen=int(somme/len(ages))# est l'age median
print(ages_moyen)

22

In [27]:
#intervalles des ages max moins min
h=range(max(ages)-min(ages))
print(h)

range(0, 7)

In [31]:
y=min(ages)-ages_moyen
z=max(ages)-ages_moyen
print('',abs(y))
print('',abs(z))

#u=abs(y,z)
#print(u)

 3
 4

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

In [80]:
#cree une liste vide
dog={}
#ajouter nom, couleur,......
dog['nom']='roki'
dog['couleur']='rouge'
dog['les pattes']='hygh'
dog['age au dictionnaire']=25
dog['la race']='berger'
print(dog)
#cree un dictionnaire student
student={'prenom':'lynsia saychele', 'nom':'tedo', 'sexe':'feminin', 'etat civil':'celibataire', "competence":['matlab,physique de la matiere'], "pays":'cameroon', "ville":"Dschang", 'adresse':'cnps'}
print(len(student))
#écupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
#Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
y = { **student, 'competence':[ 'anglais,francais,physique nucleaire,matlab,physique de la matiere']}
student['competence']=[]
print(type(student['competence']))
#cle du dictionnaire
print(student.keys())
#Obtenir les valeurs du dictionnaire sous forme de liste
print(student.values())#les valeurs du dictionnaires
#Transformer le dictionnaire en une liste de tuples en utilisant la méthode items
student.items()## transformer le dictionnaire en liste
#Supprimer un des éléments du dictionnaire
del student['etat civil']## suprimer un des element du dictionnaire
##suppresion d'un des dictionnaire(nous choisissons le dictionaire student's)
student.clear()
print(student)

{'nom': 'roki', 'couleur': 'rouge', 'les pattes': 'hygh', 'age au dictionnaire': 25, 'la race': 'berger'}
8
<class 'list'>
dict_keys(['prenom', 'nom', 'sexe', 'etat civil', 'competence', 'pays', 'ville', 'adresse'])
dict_values(['lynsia saychele', 'tedo', 'feminin', 'celibataire', [], 'cameroon', 'Dschang', 'cnps'])
{}

{}

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS !🎉 </span> </b></center>