

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Fonctions</span> </b></center>

#### **Exercice 00:**  
> **Écrire une fonction `cube` qui retourne le cube de son argument.**

In [2]:
def cube(w):
    return w**3
cube(5)

125

#### **Exercice 01:**  
> **Déclarez une fonction `ajouter_deux_nombres`. Elle prend deux paramètres et renvoie leur somme.**

In [9]:
def ajouter_deux_nombres(n,m):
    return(n+m)
ajouter_deux_nombres(2,3)

5

#### **Exercice 02:**  
> **L'aire d'un cercle se calcule comme suit : aire = pi x r x r avec pi=3,14. Écrivez une fonction `aire_du_cercle` qui prend le rayon en argument et calcule l'aire du cercle correspodant.**

In [34]:
pi=3.14
def aire_du_cercle(r):
    y=pi*r*r
    return y
aire_du_cercle(5)

78.5

#### **Exercice 03:**  
> **La température en °C peut être convertie en °F à l'aide de cette formule : °F = (°C x 9/5) + 32. Écrivez une fonction `convert_celsius_en_fahrenheit` qui convertit les °C en °F**.

In [41]:
def convert_celsius_en_fahrenheit(C):
    F=C*9/5+32
    return F 
convert_celsius_en_fahrenheit(25)

77.0

#### **Exercice 04:** 
>**Écrire une fonction somme avec un argument « tuple de longueur variable » qui calcule la somme des nombres contenus dans le tuple.Tester cette fonction par des appels avec différents tuples d’entiers ou de flottants.**

In [197]:
def somme(t):
    r=0
    for i in range (len(t)):
        r= r+t[i]
    return r

In [199]:

somme((2,5,3))

10

#### **Exercice 05:** 
>**Ecrire `somme_liste` qui calcule la somme des nombres contenus dans une liste.Tester cette fonction par des appels avec différents listes d’entiers ou de flottants.**

In [224]:
def somme_liste(list):
    y=0
    for i in range(len(list)):
        y=y+list[i]
    return y

In [225]:
somme_liste([1,2,3])

6

#### **Exercice 06:** 
>**Écrire une fonction somme qui  prend en argument un entier $n$ et retourne la somme  des $n$-prémiers entiers naturels.**

In [71]:
def un_entier(n):
    som=0
    for i in range(n): 
         som = som+i
    return som

In [73]:
un_entier(9)

36

#### **Exercice 07:** 
>**Écrire une fonction `nom` qui demande à l'utilisateur d'entrer son nom ensuite son prénom et affiche son prénom suivit de son nom.**

In [189]:
def nom_prenom(nom,prenom):
    print(nom, prenom)

In [190]:
nom_prenom('TANEDO', 'Saychele')

TANEDO Saychele

#### **Exercice 08:** 
>**Écrire une fonction `nom` qui demande à l'utilisateur d'entrer son nom ensuite son prénom et affiche son prénom suivit de son nom.**

In [191]:
def nom_prenom(nom,prenom):
      print(nom,prenom)

In [192]:
nom_prenom('TANEDO','Saychele')

TANEDO Saychele

#### **Exercice 09:** 
>**Ecris une fonction `Maximum` qui renvoie le minimum de trois nombres.**

In [156]:
def maximun(a,b,c):
    return max(a,b,c)

In [158]:
maximun(6,2,10)

10

#### **Exercice 10:**
>**Soit $f(x)=ax^2+bx+c$ un trinôme du second degré.**
 1. **Ecris une fonction `Discriminant` qui calcule son discriminant.**
 2. **Ecris ensuite une fonction `existence_des_racines_du_trinome` qui discute suivant les valeurs du discriminant, l'existence de ses racines.**

In [153]:
def discriminent(a,b,c):
    d=b**2-4*a*c
    return d

In [154]:
discriminent(1,2,3)

-8

# Exercice:11
   ecrire une fonction qui affiche le reste de la division euclidienne d'un entier naturek a par un entier naturel b

In [200]:
def entier(a,b):
    r=a%b
    return r

In [201]:
entier(10,2)

0

#### **Exercice 12:**
>**Ecris une fonction `terme_suite_geometrique` qui affiche le n-ième terme d'une suite géométrique $(v_n)$ de premier terme $v_0$ et de raison $q$. Teste ce programme pour $v_0=2, q=3$ et $n=4$.**

In [150]:
def terme_suite_geometrique(n,vo,q):
    vp=vo*q**n
    return vp

In [151]:
terme_suite_geometrique(4,2,3)

162

#### **Exercice 13:**
>**Écris une fonction `merci` prend en paramètre un `nom` et renvoie le message "Merci pour votre présence à cet atelier,`nom`.**

In [111]:
def merci(nom):
    p="Merci pour votre présence à cet atelier "+nom
    return p

In [112]:
merci('teika')

'Merci pour votre présence à cet atelier teika'

#### **Exercice 14:**
>**Écris une fonction `ma_suite` qui définit la suite $(u_n)$ telle que  $$u_{n}=\frac{2n^2+3n-1}{n+6}.$$
Affiche son 5e terme.**

In [94]:
def ma_suite(n):
    un=(2*n**2+3*n-1)/(n+6)
    return un

In [95]:
ma_suite(5)

5.818181818181818



<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! 🎉 </span> </b></center>